.fluxesFigures {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 4rem 0.5rem 0;
  & > :nth-child(2) { 
    & > :last-child {
      background-color: var(--graph_color_4);
      padding: 0.15rem 0.75rem;
      border-radius: 1rem;
      color: var(--white-color);
    }
  }
  & > :nth-child(3) { 
    & > :last-child {
      background-color: var(--graph_color_1);
      padding: 0.15rem 0.75rem;
      border-radius: 1rem;
      color: var(--white-color);}
  }
  & > :last-child { 
    & > :last-child {
      background-color: var(--graph_color_3);
      padding: 0.15rem 0.75rem;
      border-radius: 1rem;
      color: var(--white-color);
    }
  }
}

.alertNoFluxes {
  margin: auto;
  padding: 1.5rem 0.75rem;
}