.detailContainer {
  width: 100%;
  height: auto;
  padding: 1rem;
  background-color: var(--bg-standard);
  display: grid;
  grid-template-columns: 30% auto;
  gap: 1rem;
}

.informationRequest {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-weight: bold;
  color: var(--darker-font);
  overflow: auto;
  text-overflow: ellipsis;
  padding: 0.75rem 0;
}

.contentGraph {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}