.noDataMessage {
  display: flex;
  flex-direction: column;
  height: 80%;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  & > :first-child {
    padding: 1.5rem 0.5rem;
  }
  & > :last-child {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.75rem;
    justify-content: center;
  }
}