.containerMassive {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 2.5rem auto;
  width: fit-content;
  height: auto;
  align-items: center;
  justify-content: center;
}

.buttonsContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.foliosCustomDiv {
  width: 55%;
  text-align: center;
  border-radius: 0.3rem;
  padding: 0.25rem;
  margin-left: 0.5rem;
  font-size: 0.75rem;
  color: var(--white-color)
}
.foliosTotal { background-color: var(--graph_color_2);}
.foliosCorrect { background-color: var(--graph_color_4);}
.foliosIncorrect { background-color: var(--graph_color_1);}

.downloadReportButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: none;
  background: transparent;
}
.downloadReportButton:focus{ outline: none; }

.downloadModalFile {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  line-height: 1rem;
  border-radius: 0.75rem;
  gap: 1rem;
  margin: 3.5rem;
  padding: 1.5rem 1rem;
  background-color: var(--font-green-light);
  & > svg { width: 3rem; height: 3rem; }
}

.alertFileError {
  all: unset;
  margin: 3rem;
  padding: 2rem;
  display: flex;
  font-size: 1rem;
  width: fit-content;
  align-items: center;
  border-radius: 0.3rem;
  justify-content: flex-start;
}
