.userAuthContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 2rem 4rem;
  align-items: center;
  justify-content: center;
}

.customAlertAuth {
  text-align: center;
  padding: 0.25rem 0.5rem;
}

.marginButton {
  margin-left: 0.5rem;
}

.colorQuote {
  color: #6c757d
}