.specialContainer {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.titleSpecial {
  width: 100%;
  justify-content: center;
  padding: 0.5rem 1rem;
  color: var(--font-blue);
  font-weight: 700;
}

.valuesContent {
  width: fit-content;
  height: auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 3rem;
}
.datesSelector {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  & > :first-child { font-weight: bold; }
  & > :last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.statusSelector {
  display: grid;
  gap: 2rem;
  & > :first-child { font-weight: bold; justify-self: center;}
  & > :last-child { margin-top: 2rem;}
}

.horizontalSeparator {
  border: 1px solid rgb(225, 225, 225);
  border-radius: 10px;
  height: 1px;
  width: 100%;
  max-width: 95%;
  padding: 0;
  margin: 1.5rem auto;
}

.verticalSeparator {
  border-radius: 10px;
  border-left: 2px solid rgb(225, 225, 225);
  height: auto;
}

.confirmSection {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: end;
}

.modalData {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: 1rem 2rem;
  gap: 2.5rem;
  & > :first-child, :last-child {
    & > :first-child, :nth-child(2) {
      display: flex;
      flex-direction: column;
      flex-basis: 0;
      flex-grow: 1;
    }
  }
}

.alertStyleModal {
  font-size: 0.8rem;
}
.addMargin {
  margin: 0.75rem 0 3rem;
}