.tabContent {
  display: flex;
  width: fit-content;
  height: auto;
}

.tabButton {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
  justify-content: center;
  color: var(--baseColor);
  background-color: transparent;
}
.tabButton:hover {
  background-color: var(--bg-hover);
  transform: scale(1);
}
.tabButton:focus { outline: none; }
.tabButtonActive {
  background-color: var(--bg-hover);
  border-radius: 0 0 0.25rem 0.25rem;
  border-bottom: 2px solid var(--baseColor);
}