.alertComponent {
  display: flex;
  font-size: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  border-radius: 0.3rem;
  padding: 0.25rem 0.35rem;
  justify-content: flex-start;
  gap: 0.75rem;
}
