.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 10ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.headerModal {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1rem;
  border-bottom: 1px solid var(--border-hp);
  background-color: var(--baseColor);
  color: var(--white-color);
}

.modalTitle {
  text-align: center;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: normal;
}

.modalCloseTab {
  border-radius: 0;
  text-transform: none;
  overflow: visible;
  float: right;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: var(--white-color);
  text-shadow: 0 1px 0 var(--white-color);
  opacity: .75;
  border: 0;
  background-color: transparent;
  padding: 1.7rem 0.5rem;
  margin: -2rem -1rem;
  cursor: pointer;
}
.modalCloseTab:hover {
  opacity: 1;
}

.bodyModal {
  background-color: var(--white-color);
  overflow: auto;
  margin: 0;
  height: auto;
}

.footerModal {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-top: 1px solid var(--border-hp);
}
