.content {
  display: flex;
  width: 100%;
  height: auto;
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
  & > span {
    margin-right: 0.25rem;
    font-size: 0.9rem;
    color: #000;
  }
}

audio::-webkit-media-controls-panel {
  background-color: #fff;
}

audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-time-remaining-display {
  color: #4463B3;
}